/* AQ.css */

.air-quality-widget {
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.air-quality-widget h2 {
  text-align: center;
}

.good {
  background-color: #5eba5e; /* Soft green */
  color: #fff;
}

.moderate {
  background-color: #f0e669; /* Soft yellow */
}

.unhealthy-sensitive {
  background-color: #ffa45e; /* Soft orange */
}

.unhealthy {
  background-color: #f57575; /* Soft red */
  color: #fff;
}

.current-air-quality {
  margin-top: 20px;
}

/* Additional styling for a pleasant look and feel */
h2 {
  color: #333;
  font-size: 24px; /* Larger font size for h2 */
}

p {
  margin: 10px 0; /* Adjusted margin */
  font-size: 16px; /* Larger font size for p */
  color: #333;
}

strong p {
  font-size: 19px;
  padding: 5px;
}
