.air-quality-widget {
  color: #333;
  background-color: #f9f9f9;
  padding: 2px 10px 2px 10px;
  margin-right: 2px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  max-height: 110px;
  align-content: center;
  align-items: center;
  height: 70%;
}

.good {
  background-color: rgba(94, 186, 94, 0.5);
  color: #fff;
}

.moderate {
  background-color: rgba(240, 230, 105, 0.4);
}

.unhealthy-sensitive {
  background-color: rgba(255, 164, 94, 0.5);
}

.unhealthy {
  background-color: rgba(245, 117, 117, 0.5);
  color: #fff;
}

.current-air-quality {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 2fr 3fr;
  justify-items: center;
  align-content: center;
  /*padding: 15px;*/
}
.current-air-quality p {
  justify-content: center;
  align-content: center;
}

p {
  /*margin: 10px 0; !* Adjusted margin *!*/
  font-size: 16px; /* Larger font size for p */
  color: #333;
  margin-bottom: 0 !important;
  margin-left: 5px !important;
  /*margin*/
}

strong p {
  font-size: 19px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
