.suntime-container {
  max-width: 300px;
  margin: 5px;
  padding: 20px;
  /*border: 1px solid #ccc;*/
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  height: 90%;
  display: flex;
}
.left-column {
  flex: 1; /* Adjust this value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-column {
  flex: 3; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*padding: px;*/
  /*overflow: hidden;*/
}
.right-column p {
  font-size: 1em;
  line-height: 1;
  margin-bottom: 4px;
}

.weather-logo {
  width: 60px; /* Adjust the width as needed */
  height: auto;
  margin-bottom: 10px;
}

.daytime {
  color: #4caf50; /* Green color for daytime */
}

.nighttime {
  color: #34495e; /* Dark blue color for nighttime */
}

p {

}
