.top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Optional, for vertical alignment */
    /* Add other styling like padding, background, etc., as needed */
    min-height: 100px;
}
/*.top-bar > * {*/
/*    flex: 1;*/
/*}*/
.suntime-class, .placeholder {
    flex: 0 0 auto;
    font-size: 0.8em;
    margin: 0 10px;
}
.header-text {
    flex: 1;
    text-align: center;
}
