/* Umbrella.css */
.umbrella-app {
  max-width: 300px;
  padding: 15px;
  /*border: 1px solid #ccc;*/
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  max-height: 110px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-content:center;
  justify-items: center;
  margin-left: 2px;
}

.rainy,
.rainy p {

  color: white;
}

.sunny {

  color: #333;
  font-weight: bold;
}

.umbrella-app p {
  font-size: large;

}

.umbrella-app img {
 width: 100%;
  max-width: 70px;

}
