html,body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #020D36;
}

.top-bar {
  width: 100%;
  height: 12.5vh;

  border-color: aqua;
  border-style: solid;
  border-width: 1px;
}

.widgets-container {
  display: flex;
  justify-content: space-between;
  height: 62.5vh;
  width: 100%;
  flex-grow: 0;


}

.widgets-container > div {
  /* Common styles for all widgets */



}

.weather-widget {
  width: 100%;
  height: 25vh;
}

.hotspots-widget {
  /* Styles for HotspotWidget */
  flex: 1;

  border-color: blueviolet;
  border-style: solid;
  border-width: 1px;

}

.map-widget {
  /* Styles for MapWidget */

  max-width: 100%;
  max-height: 100% ;
  flex: 3;


  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100% ;
  width: 40vw;

  border-color: deeppink;
  border-style: solid;
  border-width: 3px;
}



.right-column {
  display: flex;
  flex-direction: column;
  height: 100%;
flex: 1;
}
.biketown-widget, .trimet-widget {
  /* Styles for BiketownWidget and TrimetWidget */
  flex: 1; /* they will each take up equal height */

  border-color: blueviolet;
  border-style: solid;
  border-width: 1px;
}

.ui.container, .ui.header, .ui.text {
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.container {

}