html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  /*height: 100vh;*/
  /*width: 100vw;*/
  overflow: scroll;
}

.App {
  min-height: 100vh;
  /*height: 100vh;*/
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(34, 35, 42);
  overflow-y: auto;

}
.top-bar, .widgets-container, .weather-widget {
  flex-shrink: 0;
  min-height: 100px;
}
.top-bar {
  width: 100%;
  height: 12.5vh;

  /*border-color: aqua;*/
  /*border-style: solid;*/
  /*border-width: 1px;*/
}

/*.widgets-container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  height: 62.5vh;*/
/*  width: 100%;*/
/*  flex-grow: 0;*/

/*}*/
.widgets-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 1 fraction for left, 2 for middle, 1 for right */
  height: 62.5vh;
  min-height: 625px;
  width: 100%;
  justify-content: center;
  margin-bottom:20px;
}

.widgets-container > * {
  /* Common styles for all widgets */

  /*flex-grow: 1;*/
}

.weather-widget {
  width: 100%;

  height: auto;
}



.hotspots-widget {
  /* Styles for HotspotWidget */
  /*display: flex;*/
  /*flex: 1;*/
  /*flex-shrink: 0;*/
  /* border-color: blueviolet;*/
  /* border-style: solid;*/
  /* border-width: 1px;*/
}

.map-widget {
  /* Styles for MapWidget */

  max-width: 100%;
  max-height: 100%;
  /*flex: 2;*/

  /*overflow: hidden;*/

  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40vw;
}

.right-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  justify-items: center;
  align-items: center;
  padding: 10px;
  max-height: 100%;
  overflow: hidden;
  /*flex: 1;*/
}

.biketown-widget,
.trimet-widget {
  /* Styles for BiketownWidget and TrimetWidget */
/* they will each take up equal height */
  background-color: rgba(255, 255, 255, 0.3) !important;

  /*border-color: blueviolet;*/
  /*border-style: solid;*/
  /*border-width: 1px;*/
}

.ui.container,
.ui.header,
.ui.text {
  color: #ffffff;
}

.weather-widget {
  margin: 10px !important;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 768px) {
  .widgets-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 1fr;
  }

  .widgets-container > .map-widget {
    grid-column: 1 / 2;
    grid-row: 1;
    grid-column-end: 2;
    height: fit-content;
    justify-content: center;


  }

  .widgets-container > .hotspots-widget {
    grid-column: 1;
    grid-row: 2;
  }
  .widgets-container> .right-column {
    grid-column: 2;
    grid-row:  2;
  }
}

@media screen and (max-width: 500px) {
  .widgets-container {
    display: flex;
    flex-direction: column;


    height: auto;
    min-height: 625px;
    width: 100%;
    justify-content: center;
    margin-bottom:20px;
  }
  .widgets-container > .map-widget {
  order: 3;
width: 100%

  }

  .widgets-container > .hotspots-widget {
    order: 1;
  }
  .widgets-container> .right-column {
order: 2;
  }
}
